<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddBooksServlet</display-name>
    <servlet-name>AddBooksServlet</servlet-name>
    <servlet-class>com.google.library.AddBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBooksServlet</servlet-name>
    <url-pattern>/AddBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBooksServlet</display-name>
    <servlet-name>DeleteBooksServlet</servlet-name>
    <servlet-class>com.google.library.DeleteBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBooksServlet</servlet-name>
    <url-pattern>/DeleteBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBooksServlet</display-name>
    <servlet-name>EditBooksServlet</servlet-name>
    <servlet-class>com.google.library.EditBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBooksServlet</servlet-name>
    <url-pattern>/EditBooksServlet</url-pattern>
  </servlet-mapping>
</web-app>